body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 2% 10% 2%;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
    margin-top: 30px;
}